.button {
  display: block;
  padding-top: 18px;
  padding-bottom: 18px;
  border: 3px solid;
  cursor: pointer;
  border-radius: 30px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}
