.contacts {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $white;
  @include container;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__header {
  @include big-ttl-font;
  color: $main-color;
  margin: 40px 0;
}

.contacts__item {
  margin-bottom: 25px;
  width: 300px;
}


.contacts__title {
  display: block;
  margin-bottom: 5px;
  @include ttl-font;
  color: $main-color;
}

.contacts__phone,
.contacts__email,
.contacts__address {
  @include big-ttl-font;
  color: $pink;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $white;
  }
}
