.contest-form__wrapper {
  @include container;
  display: flex;
  flex-direction: column;
}

.contest-form__plea {
  display: none;
}

.contest-form__set {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 20px;
}

.contest-form__row {
  display: flex;
  flex-direction: row;
}

.contest-form__row--name,
.contest-form__row--contacts {
  flex-direction: column;
}

.contest-form__row--apps,
.contest-form__row--achievements {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 60px;
}

.contest-form__input {
  padding: 15px;
  border: 2px solid $gray;
  @include form-main-font;
  box-sizing: border-box;
  width: 100%;

  &:hover {
    border-color: $main-color;
  }

  &:focus {
    border-color: $pink;
    outline: none;
  }
}

.contest-form__input-name {
  margin: 10px 22px;
  font-size: 14px;
  line-height: 30px;
  color: $pink;
  text-transform: uppercase;
}

.contest-form__titling {
  margin: 0;
  margin-bottom: 50px;
  padding: 0px 15px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $pink;
}

.contest-form__set--achievements {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 -20px;
  padding: 55px 20px 0px;
  background-color: $gray;
}

.contest-form__set--contacts {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 40px;
}

.contest-form__set--contacts .contest-form__titling {
  display: none;
}

.contest-form__checkbox {
  display: none;
}

.contest-form__checkbox-name {
  margin-bottom: 52px;
  @include form-main-font;
  color: $main-color;

  &:last-child {
    margin-bottom: 0px;
  }

  &:hover {
    cursor: pointer;
  }
}

.contest-form__checkbox-name::before {
  content: "";
  position: absolute;
  left: 0;
  top: 28px;
  width: 37px;
  height: 37px;
  border: 2px solid #e5e5e5;
  background-color: #fff;
}

.contest-form__checkbox-name:hover::before {
  border-color: $main-color;
}

.contest-form__checkbox-name:active::before {
  border-color: $pink;
}

input:checked + .contest-form__checkbox-name::before {
  background: no-repeat center url(../img/icon-check.svg);
  background-color: #fff;
}

.fields__set--apps {
  display: flex;
  flex-direction: column;
  margin: 0 -20px;
  margin-bottom: 50px;
  padding: 20px 20px;
  padding-top: 25px;
  background-color: $gray;
}

.contest-form__apps-titling {
  margin: 0;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $pink;
}

.contest-form__radio {
  display: none
}

.contest-form__radio-name::before {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 35px;
  top: 18px;
  left: 0;
  background-color: #fff;
  border: 2px solid $gray;
  border-radius: 50%;
}

.contest-form__radio-name:hover::before {
  border-color: $main-color;
}

.contest-form__radio-name:active::before {
  border-color: $pink;
}

input:checked + .contest-form__radio-name::after {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  top: 62px;
  left: 12px;
  background-color: $pink;
  border-radius: 50%;
}

.contest-form__radio-name {
  margin: 20px 0;
  @include form-main-font;
  color: $main-color;

  &:hover {
    cursor: pointer;
  }
}

.contest-form__set--comment {
  display: flex;
  flex-direction: column;
  @include form-main-font;
  color: $pink;
  text-transform: uppercase;
}

.contest-form__text {
  height: 160px;
  border: 2px solid $gray;
  margin-top: -35px;
  margin-bottom: 50px;
  padding: 18px;

  &::placeholder {
    @include form-main-font;
    color: $main-color;
  }
}

.contest-form__submit {
  display: block;
  width: 100%;
  margin-bottom: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  border-radius: 3px;
  background-color: #2aab6d;
  cursor: pointer;
  @include form-main-font;
  text-transform: uppercase;
  color: $white;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color:rgba(255,255,255,.3);
  }
}

.contest-form__submit--disabled {
  background-color: #e5e5e5;
  cursor: not-allowed;

  &:hover {
    background-color: #e5e5e5;
  }
}

.contest-form__legend {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: $main-color;
}

.contest-form__star {
  color: $pink;
}

@media (min-width: $tablet-width) {
  .contest-form__set {
    margin-bottom: 60px;
    border: 2px solid $gray;
    box-sizing: border-box;
  }

  .contest-form__set--name {
    order: 1;
    border: none;
  }

  .contest-form__set--achievements {
    order: 4;
  }

  .contest-form__set--contacts {
    order: 3;
  }

  .contest-form__set--apps {
    order: 2;
  }

  .contest-form__set--comment {
    order: 5;
  }

  .contest-form__set--submit-block {
    order: 6;
    flex-direction: row;
    border: none;
  }

  .contest-form__input-name {
    margin-left: 0;
  }

  .contest-form__row--name {
    flex-direction: row;
    position: relative;
    margin-bottom: 50px;
  }

  .contest-form__row--name:last-child {
    margin-bottom: 0;
  }

  .contest-form__set--achievements,
  .contest-form__set--apps {
    margin-right: 0;
    margin-left: 0;
    background-color: $white;
  }

  .contest-form__set--submit-block {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  .contest-form__submit {
    width: 300px;
  }

  .contest-form__titling {
    position: absolute;
    top: -10px;
    padding-left: 33px;
    padding-right: 33px;
    background-color: white;
  }

  .contest-form__set--apps .contest-form__titling {
    left: 20%;
  }

  .contest-form__set--contacts .contest-form__titling {
    left: 30%;
    display: block;
  }

  .contest-form__set--achievements .contest-form__titling {
    left: 15%;
  }

  .contest-form__set--comment .contest-form__titling {
    left: 30%;
  }

  .contest-form__wrapper > div {
    padding: 50px;
    box-sizing: border-box;
  }

  .contest-form__wrapper .contest-form__set--achievements {
    padding-bottom: 0;
  }

  .contest-form__wrapper .contest-form__set--name,
  .contest-form__wrapper .contest-form__set--submit-block {
    padding: 0;
  }

  .contest-form__wrapper .contest-form__set--submit-block {
    margin-bottom: 0;
  }

  .contest-form__text {
    height: 150px;
    margin: 0;
  }

  .contest-form__set--contacts .contest-form__input-name {
    order: 2;
    margin-left: 20px;
  }

  .contest-form__set--contacts .contest-form__input {
    order: 1;
  }
}

@media (min-width: $desktop-width) {
  .contest-form__wrapper,
  .contest-form__set--achievements {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .contest-form__set--name,
  .contest-form__set--apps {
    width: 432px;
    min-height: 300px;
  }

  .contest-form__set--contacts {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .contest-form__row--contacts {
    width: 375px;
  }

  .contest-form__set--comment,
  .contest-form__set--submit-block {
    width: 100%;
  }

  .contest-form__set--apps .contest-form__titling {
    left: 5%;
  }

  .contest-form__set--achievements .contest-form__titling {
    left: 25%;
  }

  .contest-form__set--contacts .contest-form__titling {
    left: 35%;
  }

  .contest-form__set--comment .contest-form__titling {
    left: 35%;
  }
}
