body {
  position: relative;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  color: $black;
  background-color: $white;
}

img {
  width : 100%;
  height: auto;
  border: 0;
}
