.header {
  width: 100%;
  position: absolute;
  z-index: 10;
  background-color: $black-30;
}

.header--nojs {
  position: relative;
}

.header__wrapper {
  @include container;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  @include visually-hidden;
}

.header__main-nav {
  margin: 0 -20px;
}
