.header {
  width: 100%;
  position: absolute;
  z-index: 10;
}

.header__wrapper {
  @include container;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $black-30;
}

.header__title {
  @include visually-hidden;
}

.header__logo {
  display: block;
  width: 150px;
  min-height: 25px;
}

