.head-block {
  box-sizing: border-box;
  padding-top: 25px;
  padding-bottom: 85px;
  background: no-repeat url("../img/bg-back-mobile@2x.jpg");
  background-color: $main-color;
  background-position: 50% 0%;
  background-size: 600px auto;
}

.head-block--form {
  padding-bottom: 0;
}

.head-block__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  @include container;
}

.head-block__title {
  width: 65%;
  margin: 0 auto;
  @include big-ttl-font;
  color: $white;
  text-align: center;
}

.head-block__title--form {
  width: 85%;
  margin-bottom: 55px;
}

@media (min-width: $tablet-width) {
  .head-block {
    padding-top: 105px;
    background: no-repeat url("../img/bg-back-tablet@2x.jpg");
    background-size: 180% auto;
    background-position: 50% 28%;
  }

  .head-block__title {
    margin-top: 40px;
    margin-bottom: 90px;
    font-size: 50px;
  }
}

@media (min-width: $desktop-width) {
  .head-block__title--form {
    margin-top: 50px;
    margin-bottom: 105px;
  }
}
