.header {
  display: flex;
  align-items: center;
}

.header__wrapper {
  position: relative;
  z-index: 10;
  width: 100%;
  margin: 0 -20px;
  margin-bottom: -66px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 66px;
  background-color: $black-30;
}

.header__title {
  @include visually-hidden;
}

.header__logo {
  display: block;
  width: 150px;
  min-height: 22px;
}

