.intro__wrapper {
  position: relative;
  z-index: 9;
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 732px;
  margin: 0 -20px;
  background: no-repeat center url("../img/bg-back-mobile@2x.jpg");
  background-position: 50% 23%;
  background-size: 1850px auto;
  background-color: $blue;
}

.platforms-items {
  @include list-reset;
}

.platforms-items__desc {
  margin-bottom: 35px;
}

.intro__button {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  color: $white;
  border-color: $white;
}

.intro__application {
  display: flex;
  z-index: 10;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  background-color: $blue;
}

.intro__image {
  z-index: 8;
  position: absolute;
  top: 175px;
}

.intro__header {
  @include big-ttl-font;
  color: $white;
  text-align: center;
}
