.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 730px;
  align-items: center;
  background-color: $blue;
  background: no-repeat url("../img/bg-mobile@1x.jpg");
}

.intro__wrapper {
  z-index: 9;
  min-height: 270px;
  margin-top: auto;
  background-color: $blue;
}

.intro__application {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__button {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  color: $white;
  border-color: $white;
}

.intro__image {
  z-index: 8;
  position: absolute;
  top: 175px;
}

.intro__header {
  @include big-ttl-font;
  color: $white;
  text-align: center;
}
