.main-nav {
  display: none;
}

.main-nav__toggle {
  border: 0;
  height: 66px;
  width: 70px;
  background-color: transparent;
    &:hover {
      cursor: pointer;
    }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  @include list-reset;
}

.main-nav__link {
  width: 100%;
  @include ttl-font;
  text-align: center;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
}
