@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
  }

  .page-footer__logo {
    width: 147px;
    height: 40px;
    border: 1px solid gray;
  }

  .page-footer__copyright {
    width: 128px;
    height: 34px;
    line-height: 18px;
  }
}
