.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include container;
  padding-top: 40px;
}

.page-footer__logo {
  width: 150px;
  height: 40px;
    &:hover {
      cursor: pointer;
    }
}

.page-footer__copyright {
  width: 150px;
  height: 34px;
  font-size: 14px;
  line-height: 18px;
}

.page-footer__logo,
.page-footer__social,
.page-footer__copyright {
  margin-bottom: 40px;
}

.page-footer--index {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: block;
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .page-footer--index {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    padding-top: 65px;
  }
}
