.photo-block {
  margin-bottom: 20px;
}

.photo__wrapper {
  display: flex;
  flex-direction: column;
  @include container;
}

.photo-block--best {
  position: relative;
}

.photo-block__full-size {
  display: block;
  line-height: 0;
}

.photo-block__caption-text {
  position: absolute;
  top: 0;
  right: 20px;
  display: block;
  width: 140px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: $pink;
  cursor: default;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
}

.photo-block__comment {
  display: flex;
  flex-direction: column;
  padding: 23px 20px;
  background-color: $gray;
}

.photo-block__username {
  margin: 0;
  @include main-font;
  font-weight: 700;
  color: $main-color;
}

.photo-block__post-time {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  color: $main-color;
}

.photo-block__post {
  margin: 0;
  @include main-font;
  color: $main-color;
}

.photo-block__like-text {
  margin-left: 10px;
  font-size: 12px;
  line-height: 24px;
  color: $pink;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .photo-block--best .photo-block__comment {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }

  .photo-block__username {
    order: 1;
  }

  .photo-block__post {
    order: 3;
    min-height: 48px;
  }

  .photo-block__likes {
    order: 2;
  }

  .photo-block__comment {
    padding: 30px 20px;
  }

  .photo__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: stretch;
    justify-content: space-between;
  }

  .photo-block {
    width: calc(50% - 10px);
  }

  .photo-block--best {
    width: 100%;
    margin-bottom: 50px;
  }
}
