.photo-editor {
  background-color: $gray;
}

.photo-editor__wrapper {
  @include container;
  padding-top: 20px;
  padding-bottom: 42px;
}

.photo-editor__image {
  margin-bottom: 42px;
}

.photo-editor__full-size {
  display: block;
  line-height: 0;
}

.photo-editor__button--post {
  border-color: $pink;
  color: $pink;
}

.photo-editor__tools {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-editor__range {
  width: 85%;
  margin: 28px auto;
}

.photo-editor__buttons {
  width: 100%;
  padding: 40px 20px;
  padding-bottom: 0;
}

.photo-editor__button {
  background-color: transparent;
}

.photo-editor__button--post {
  margin-bottom: 12px;
}

.photo-editor__button--cancel {
  color: #dddfe0;
}

.photo-editor__button {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .photo-editor__wrapper {
    padding-top: 57px;
    padding-bottom: 54px;
  }

  .photo-editor__form {
    display: flex;
    justify-content: space-between;
  }

  .photo-editor__image,
  .photo-editor__tools {
    width: 48%;
  }

  .photo-editor__image {
    margin-bottom: 0;
  }

  .photo-editor__tools {
    justify-content: space-between;
  }

  .photo-editor__range {
    display: none;
  }

  .photo-editor__buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
  }
}

@media (min-width: $desktop-width) {
  .photo-editor {
    background-color: $white;
  }

  .photo-editor__wrapper {
    background-color: $gray;
  }

  .photo-editor__image {
    width: 32%;
    margin-left: 80px;
  }

  .photo-editor__tools {
    width: 48%;
    margin-right: 40px;
  }

  .photo-editor__buttons {
    flex-direction: row;
    justify-content: space-between;
  }

  .photo-editor__button {
    width: 45%;
  }

  .photo-editor__button--post {
    margin-bottom: 0;
  }
}
