platforms-items {
  display: flex;
}

.platforms-items__item {
  height: 50px;
  width: 55px;
  background: url("../img/sprite.svg");
}

.platforms-items__desc {
  @include main-font;
  font-weight: 300;
  color: $white;
}

.platforms-items__item--iphone {
  
}