.platforms-items {
  display: flex;
  width: 215px;
  min-height: 56px;
  justify-content: space-between;
  align-items: center;
  @include list-reset;
}

.platforms-items__item {
  background: url("../img/sprite.svg");
  background-position: 0px 0px;
  text-indent: -99999px;
  cursor: pointer;
}

.platforms-items__link,
.platforms-items__link svg {
  display: block;
}
