.price {
  background-image: url(../img/bg-triangle-white.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: $gray;

}

.price__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @include container;
  padding-top: 80px;

}

.price__list {
  border-collapse: collapse;
}

.price__version {
  @include ttl-font;
  color: $white;
  text-transform: uppercase;
}

.price__value {
  @include big-ttl-font;
  color: $white;
}

.price__version-block {
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: $main-color;
  text-align: center;
}

.price__flag {
  position: absolute;
  left: -1px;
  top: 0;
  width: 73px;
  height: 73px;
}

.price__flag--hit {
  background: no-repeat center url(../img/hit-flag.png);
}

.price__option {
  font-size: 14px;
  text-transform: uppercase;
  color: $main-color;
}

.price__option-block {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-left: 25px;
  background-color: $white;
  border: 1px solid $gray;
}

.price__check-mark {
  max-width: 29px;
  max-height: 29px;
}

.price__radio-buttons {
  margin-top: 35px;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .price__radio-buttons {
    display: none;
  }

  .price__version {
    font-size: 16px;
  }

  .price__value {
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .price__option {
    font-size: 18px;
  }

  .price__wrapper {
    padding-top: 150px;
    padding-bottom: 100px;
  }
}
