.price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: $gray;
  min-height: 470px;
}

.price__list {
  width: 100%;
  border: 2px solid $gray;
  min-height: 270px;
}

.price__version {
  @include ttl-font;
  color: $white;
  text-transform: uppercase;
}

.price__value {
  @include big-ttl-font;
  color: $white;
}

.price__version-block {
  background-color: $main-color;
}

.price__option {
  font-size: 14px;
  text-transform: uppercase;
  color: $main-color;
}

.price__option-block {
  background-color: $white;
}

.price__radio-buttons {
  margin-top: 40px;
  margin-bottom: 40px;
}
