.promo {
  background-color: $gray;
  background-image: url(../img/bg-triangle-white.svg);
  background-repeat: no-repeat;
  background-position-y: -1px;
  background-size: 100%;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  @include container;
}

.promo__desk {
  @include main-font;
  color: $main-color;
}

.promo__features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 65px;
}

.promo__titling {
  margin-top: 10px;
  margin-bottom: 15px;
  display: block;
  @include ttl-font;
  color: $black;
}

.promo__single-image {
  display: block;
  width: 157px;
  margin: 0 auto;
}

.promo__desk {
  margin: 0px;
  margin-bottom: 25px;
}

.promo__item-image {
  display: none;
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    flex-direction: row;
  }

  .promo__features {
    order: 2;
  }

  .promo__image-block {
    order: 1;
    margin: 0;
    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .promo__image-block {
    display: none;
  }

  .promo__features {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0;
    align-items: baseline;
  }

  .promo__item {
    width: 30%;
  }

  .promo__titling {
    margin-top: 65px;
    font-size: 30px;
    line-height: 30px;
  }

  .promo__desk {
    @include form-main-font;
  }

  .promo__item-image {
    display: block;
  }
}
