.reivew-slider__wrapper {
  padding: 0 20px;
  background-color: $white;
}

.reivew-slider__slide {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
}

.reivew-slider__autor {
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
  @include ttl-font;
  line-height: 30px;
  font-style: normal;
  color: $black;
}

.reivew-slider__comment {
  margin: 0px 0px;
  font-size: 14px;
  line-height: 30px;
  color: $main-color;
  text-align: center;
}

.reivew-slider__caption {
  display: none;
  font-size: 14px;
  line-height: 30px;
  color: #303946;
}

.reivew-slider__radio-buttons {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .reivew-slider__caption {
    display: block;
    order: 3;
  }

  .reivew-slider__comment {
    order: 1;
    font-size: 18px;
  }

  .reivew-slider__autor {
    order: 2;
  }
}
