.reivew-slider__wrapper {
  @include container;
  background-color: $white;
}

.reivew-slider__slide {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
}

.reivew-slider__autor {
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
  @include ttl-font;
  line-height: 30px;
  font-style: normal;
  color: $black;
}

.reivew-slider__comment {
  margin: 0px 0px;
  font-size: 14px;
  line-height: 30px;
  color: $main-color;
  text-align: center;
}

.reivew-slider__caption {
  display: none;
  font-size: 14px;
  line-height: 30px;
  color: #303946;
}

.reivew-slider__radio-buttons {
  margin-top: 40px;
  margin-bottom: 40px;
}

.reivew-slider__quotes-image {
  display: none;
  width: 79px;
  height: 63px;
  position: absolute;
  top: 80px;
  left: 50%;
  margin-left: -40px;
}

.reivew-slider__slider-arrow {
  position: absolute;
  top: 212px;
  display: none;
  width: 22px;
  height: 42px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.3;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

.reivew-slider__slider-arrow svg {
  display: block;
  width: 22px;
  height: 42px;
}

@media (min-width: $tablet-width) {
  .reivew-slider__caption {
    display: block;
    order: 3;
  }

  .reivew-slider__comment {
    order: 1;
    font-size: 18px;
  }

  .reivew-slider__autor {
    order: 2;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .reivew-slider__wrapper {
    position: relative;
    padding-top: 190px;
    padding-bottom: 40px;
  }

  .reivew-slider__comment {
    width: 700px;
  }

  .reivew-slider__caption {
    margin: 0;
  }

  .reivew-slider__radio-buttons {
    display: none;
  }

  .reivew-slider__slider-arrow--back {
    left: 0;
  }

  .reivew-slider__slider-arrow--next {
    right: 0;
  }

  .reivew-slider__quotes-image,
  .reivew-slider__slider-arrow {
    display: block;
  }
}
