.slider-toggle {
  display: flex;
  justify-content: space-around;
  width: 140px;
  height: 20px;
  margin: 0 auto;
  align-items: baseline;
}

.slider-toggle__button {
  padding: 0;
  border-radius: 50%;
  border: 0;
  width: 6px;
  height: 6px;
  background-color: #b7babe;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
}

.slider-toggle__button--active {
  border: 3px solid #303946;
  width: 12px;
  height: 12px;
  background-color: $gray;
}
