.title-block {
  display: flex;
  flex-direction: column;
  background-color: $white;
  margin: 0;
  align-items: center;
  @include container;
  padding-top: 55px;
  padding-bottom: 55px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  color: $main-color;
}

.title-block--index {
  padding: 40px 0;
  border-bottom: 1px solid white;
}

.title-block__part--index {
  margin: 0;
  @include big-ttl-font;
  color: $main-color;
  text-align: center;

  &:first-child {
    margin-bottom: 30px;
  }
}

@media (min-width: $tablet-width) {
  .title-block {
    padding-top: 95px;
    padding-bottom: 75px;
  }

  .title-block__part--index {
    font-size: 40px;
  }
}

@media (min-width: $desktop-width) {

}
