.title-block {
  display: flex;
  flex-direction: column;
  background-color: $white;
  margin: 0;
  align-items: center;
  @include container;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  color: $main-color;
}

.title-block--index {
  padding: 40px 0;
  border-bottom: 1px solid white;
}

.title-block--form {
  padding-top: 50px;
  padding-bottom: 20px;
}

.title-block__part--index {
  margin: 0;
  @include big-ttl-font;
  color: $main-color;
  text-align: center;

  &:first-child {
    margin-bottom: 30px;
  }
}

.title-block__part br {
  display: none;
}

@media (min-width: $tablet-width) {
  .title-block {
    font-size: 18px;
  }

  .title-block--index {
    width: 587px;
    padding-top: 55px;
    padding-bottom: 60px;
  }

  .title-block__part--index:nth-child(2) {
    width: 340px;
  }

  .title-block__part--index {
    font-size: 40px;
  }

  .title-block--form {
    width: 500px;
    padding-top: 90px;
    padding-bottom: 80px;
  }
}

@media (min-width: $desktop-width) {
  .title-block--index {
    width: 733px;
    padding-bottom: 80px;
  }

  .title-block--form {
    display: block;
    width: 756px;
  }

  .title-block__part--index {
    font-size: 50px;
    line-height: 60px;

    &:first-child {
      margin-bottom: 0;
    }
  }

  .title-block__part--index:nth-child(2) {
    width: 420px;
  }
  .title-block__part br {
    display: block;
  }

  .title-block--index {
    padding-top: 65px;
  }
}
