$main-color: rgba(40, 54, 69, 1);
$blue: rgba(29, 38, 49, 1);
$black: rgba(0, 0, 0, 1);
$black-30: rgba(0, 0, 0, 0.3);
$white: rgba(255, 255, 255, 1);
$white-30:rgba(255, 255, 255, 0.3);
$gray: rgba(242, 242, 242, 1);
$pink: rgba(210, 40, 86, 1);
$tablet-width: 660px;
$desktop-width: 1200px;
